
@{
    ViewBag.Title = "EventsByDay";
}

@section scripts{
    <script type="text/javascript">
         $(function () {
             $('#day').datetimepicker();
         });
    </script>
}

<div class="jumbotron">
    <h2>Select a day to see all your events from that day!</h2>
    <div class="form-group">
        <label for="day" class="col-md-3 control-label">Event Title</label>
        <div class="col-md-9">
            <div id="datetimepicker"> </div>
            <input type="text" class="form-control" id="day">
        </div>
        &nbsp;
        <input type="button" value="Display Events" class="btn btn-sm btn-primary" onclick="getAllEventsByDay()" />
    </div>

</div>

<div class="row">


    <div id="bydaytable" class="row">
    </div>

</div>

<script src="/Scripts/webservice.js"></script>