@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Calendar Manager</h1>
    <p class="lead">Use this calendar manager to view and manage your events!</p>
    <div class="col-md-12">
        <input type="button" value="Display your events" class="btn btn-sm btn-primary" id="result" onclick="getAllEvents()" />
    </div>
</div>
<div id="" class="=row"></div>
<div class="row">

    <div id="neweventform" class="row">
    </div>

</div>

<script src="/Scripts/webservice.js"></script>



