
@{
    ViewBag.Title = "Log in";
}


<h2>Log In here! </h2>
    &nbsp;
<div class="form-group">
    <label for="email" class="col-md-3 control-label">Email</label>
    <div class="col-md-9">
        <input type="text" class="form-control" id="email">
    </div>
</div>
    &nbsp;
<div class="form-group">
    <label for="password" class="col-md-3 control-label">Password</label>
    <div class="col-md-9">
        <input type="password" class="form-control" id="password" size="4">
    </div>
</div>
        &nbsp;
        &nbsp;
<div>
    <input type="button" value="Log In" class="btn btn-sm btn-primary" onclick="LogIn()" />

</div>

<script src="/Scripts/webservice.js"></script>